<!-- cabezera de la paguina -->
<div class="panel-heading nav navbar-default">
    <ul class="nav navbar-nav navbar-left">
        <b><i class="fa fa-wrench" aria-hidden="true"></i> Formulario Generación TT</b>
    </ul>   
    <div class=" d-flex flex-row-reverse box-tools ">
        <div class="input-group d-flex flex-row">
            <a class="btn btn-primary" ng-click="mostraModal({})"><i class="fa fa-plus"></i> Agregar TT</a>
        </div>      
    </div>
</div>
<!-- cuerpo de la pagina -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row"><br>
                    <div class="col-xs-2">
                        <ul class="nav navbar-nav navbar-left">
                            <input style="width:130px" type="text" name="fechaini" id="fechaini" class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="Registros.fechaini" placeholder="Fecha Inicial" datetime-picker="" date-format="yyyy-MM-dd"> <i class="fa fa-calendar fa-fw"></i>
                            <input style="width:130px" type="text" name="fechafin" id="fechafin" class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="Registros.fechafin" placeholder="Fecha Final" datetime-picker="" date-format="yyyy-MM-dd"> <i class="fa fa-calendar fa-fw"></i>
                            <button type="button" 
                                    class="btn btn-success btn-xs" 
                                    ng-click="RegistrosPremisa(Registros)"
                                    ng-disabled="loading">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" 
                                    ng-show="galletainfo.PERFIL == 6 || galletainfo.PERFIL == 1 || galletainfo.PERFIL == 11"
                                    class="btn btn-primary btn-xs" 
                                    title="Exportar Registros" 
                                    ng-click="csvGeracionTT()" 
                                    ng-disabled="loading" 
                                    title="Exportar" 
                                    tooltip data-placement="top">
                                <i class="fa fa-cloud-download"  aria-hidden="true"> </i>
                            </button>
                        </ul>
                    </div>
                    <div class="col-xs-3 marg"><i>Buscar:</i>
                        <input type="text" class="form-control busq" ng-model="busqueda" name="" value="" placeholder="Ingresa lo que desas buscar.">
                        <br>
                    </div>
                </div>                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>TT</th>
                            <th>Quien Solicita La CCC</th>
                            <th>Elemento Afectado</th>
                            <th>Ciudad</th>
                            <th>Región</th>
                            <th>Fecha</th>
<!--                             <th class="botton">Editar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="registrostt in listaPremisa | filter:busqueda as results ">
                            <td>{{registrostt.tt}}</td>
                            <td>{{registrostt.quienSolicitaLaCCC}}</td>
                            <td>{{registrostt.elementoAfectado}}</td>
                            <td>{{registrostt.ciudad}}</td>
                            <td>{{registrostt.region}}</td>
                            <td>{{registrostt.fechaSolicitud}}</td>
<!--                             <td>
                                <a ng-click="mostraModal( registrostt )" class="btn btn-warning btn-xs botton"><i class="fa fa-edit"></i></a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer clearfix" >
            <!-- CONTADOR -->
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-left">
                    <li><span class="badge badge-default">{{results.length}}</span>&nbsp;</li>
                    <li>de:<span class="badge badge-default">{{counter}} Registros</span></li>
                </ul>
            </div>
            <!-- PAGINADO -->        
            <div class="col-md-6 pieP">
                <ul
                    class="pagination-sm nav navbar-nav navbar-right"
                    uib-pagination total-items="counter" 
                    ng-model="datapendientes.currentPage" 
                    max-size="maxSize"  
                    boundary-links="true" 
                    num-pages="smallnumPages" 
                    previous-text="&#8672;" 
                    next-text="&#8674;" 
                    last-text="Último" 
                    first-text="Primero"                    
                    boundary-link-numbers="false"
                    max-size="maxSize" 
                    rotate="false" 
                    ng-change="pageChanged(datapendientes)">
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<!-- <div class="navbar navbar-default navbar-fixed-bottom " role="navigation">
    <div class="container ">
        <div class="row pull-right text-center">
            <div class="col-lg-9 "><h4 class="text-right">{{config.data.proceso}} ({{year}})</h4><h6 class="text-right">Version: {{config.data.version}}</h6></div>
            <div class="col-lg-3 "><img  src="img/logo_tigoune.png" height="46"></div>
        </div>
    </div>
</div> -->

<!-- MODAL -->
<div ng-include="mostarModalGenreacionTT"></div>
