<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="col-xs-10 col-xs-offset-1">
			<div class = "panel panel-default">
				<div class = "panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i> Formulario mesa offline</b>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
					<span style="color:green" class="pull-right"><i class="fa fa-check-circle" aria-hidden="true" ng-hide="respuestaupdate==null"></i> {{respuestaupdate}}</span>
					<span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true" ng-hide="respuestadelete==null"></i> {{respuestadelete}}</span>
					<ul class="nav navbar-nav navbar-right">
						<li>
						<div class="col-md-1 col-xs-1 ">
							<div data-ng-if="loading">
								<img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
							</div>				
						</div>
						</li>
					</ul>
				</div>
			<div class="panel-body" >
			<div class="container-fluid">
          	<div class="col-md-12">
                <ul class="list-group" >
          			<div class="col-md-4">
                       	<li class="list-group-item small" ><b>LOGIN ASESOR OFFLINE:</b>
                       	<span class="label label-info">{{galletainfo.LOGIN}}</span>
						</li>
                        <li class="list-group-item small" ><b>LOGIN ASESOR:</b><br>
                        	<input ng-model="offline.LOGIN_ASESOR" type="text" name="login_asesor" class="btn btn-default btn-xs" style="width:200px" ></li>
                       	<li class="list-group-item small" ><b>PEDIDO:</b><br>
                       	<div class="btn-group">	
                       		<input type="text" ng-model="offline.PEDIDO" class="btn btn-default btn-xs"  type="text" style="width:200px">
						</div>
						</li>
						<li class="list-group-item small" ><b>PROCESO:</b>   <br>
							<select class= "btn btn-default btn-xs grupo-select"
									name="proceso" 
									ng-model="offline.PROCESO" style="width:200px">
	                            <option ng-repeat="d in procesosoffline"
										value="{{d.PROCESO}}">
										{{d.PROCESO}}
								</option>	
							</select>
						</li>   
           			</div>
                    <div class="col-md-4">
                       	<li class="list-group-item small" ><b>PRODUCTO:</b><br>  
							<select class= "btn btn-default btn-xs grupo-select" 
									name="Gestion" placeholder="Seleccione el proceso.."
									ng-model="offline.PRODUCTO"
									ng-change="calcularAccionOffline()" style="width:200px">
								<option ng-repeat="d in productos"
										value="{{d.PRODUCTO}}">
										{{d.PRODUCTO}}
								</option>	
							</select>
						</li>
						<li class="list-group-item small" ng-show="validarproducto"><b>ACCIÓN:</b><br>
							<select 
								class= "btn btn-default btn-xs grupo-select"
								placeholder="Seleccione la acción.."
								ng-model="offline.ACCION" style="width:200px">
								<option 
								ng-repeat="d in listadoAcciones" 
								value="{{d.ACCION}}">
								{{d.ACCION}}
								</option>
							</select>
						</li>
						<li class="list-group-item small"><b>ACTIVIDAD:</b>       <br>
							<select 
									class= "btn btn-default btn-xs grupo-select"
									placeholder="Seleccione una actividad.."
									ng-model="offline.ACTIVIDAD"
									ng-change="calcularActividad2offline()" style="width:200px">
							               <option value="Generar Pedido Cambio 4GLTE">Generar Pedido Cambio 4GLTE</option>
			               <option value="Registros softswitch">Registros softswitch</option>
			                        <option value="Registros NCA">Registros NCA</option>
			                        <option value="Registro RIGHTV">Registro RIGHTV</option>
	<option value="Aprovisionamiento Cable Modem (Página Roja)">Aprovisionamiento Cable Modem (Pagina Roja)</option>
			                        <option value="Generar pedido de Reparacion">Generar pedido de Reparacion</option>
			                        <option value="Patinaje">Patinaje</option>
							</select></li>
							<li class="list-group-item small" ng-show="validaractividad">
								<select 
									style="width:200px"
									class= class="form-control btn-xs"
									ng-model="offline.ACTIVIDAD2" style="width:200px">
									<option
									ng-repeat="d in actividades2"
									value="{{d.ID}}">
									{{d.ACTIVIDAD2}}
									</option>
								</select>
							</li>
						</div>
						<div class="col-md-4">
                     			<li class="list-group-item small">
												<label for="observaciones">Observación:</label>
												<textarea  rows="8" 
												class="form-control"
												ng-model="offline.OBSERVACIONES" 
												name="observaciones">
												</textarea>
								</li>
								<br>
							
								<ul class="nav navbar-nav navbar-right">
										<li>
										<div class="btn-group">
										<!--Ver registros-->
										<button type="button" class="btn btn-success btn-xs" value="Guardar" ng-click="guardarPedidoOffline()">
										<span class="fa fa-floppy-o" aria-hidden="true"></span> Guardar</button>
										<a type="button" class="btn btn-warning btn-xs" value="Ver Registros" href="#!/mesaoffline/registrosOffline">
											<span class="fa fa-list" aria-hidden="true"></span> Ver Registros</a>
										</div>
										</li>
									</ul>	
						</div>
					</ul>
              	</div>
         	</div>
         </div>			
		</div>
	</div>
	</div>
</div>
</div>