<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading nav navbar-default">
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="/#contrasenaClick">Gestión Contraseñas</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<!-- Gestion Contraseñas Click -->
				<div id="contrasenaClick" class="tab-pane fade in active" ng-include="rutaContrasenasClick"></div>
			</div>
		</div>
	</div>
</div>
<br>
<br>